#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* HEADER */

nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
}

nav ul{
  display: flex;
  gap: 2em;
  list-style-type: none;
}

.nav ul a{
  text-decoration: none;
  
}

.nav-right-container{
  display: flex;
  gap: 1em;
  align-items: center;
}

.header-details-container{
  border: 1px solid gainsboro;
  border-radius: 10px;
  padding: 10px;
  min-height: 40vh;
}

.profile-pic-container{
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

/* HERO SECTION */
.hero-section{
  margin-top: 2em;
}
.hero-container{
  background-color: rgba(51, 51, 51, 0.247);
  border-radius: 10px;
   min-height: 60vh;
}

.header-content{
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: 2em 1em;
}

.hero-heading{
  font-size: 2.5em;
}

.header-text{
  display: inline;
  justify-content: start;
  text-align: start;
  max-width: 900px;
}

.header-text h1{
  font-size: 1.6em;
}

.header-text h2{
  font-size: 1em;
}

.header-social-icons{
  display: flex;
  gap: 1em;
}

.twitter-icon{
  color: white;
  transition: color 0.51s;
}

.twitter-icon:hover{
  color: dodgerblue;
}

.youtube-icon{
  color: white;
  transition: color 0.51s;
}

.youtube-icon:hover{
  color: red;
}
/* BLOG SECTION */

.blog-section{
  min-height: 60vh;
  background-color: #10111a;
  margin-top: 3em;
  border-radius: 10px;
}

.blog-card-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1em;
  padding: 2em 1em;
}

.more-blogs-select-container{
  display: flex;
  gap: 1em;
  text-align: center;
  margin: 2em 0em;
}

.more-blogs-select-container div{
  padding: 10px;
  border: 1px solid gray;
  transition: background-color 1s ease-in-out;
}

.more-blogs-select-container div:hover{
  background-color: rgb(15, 39, 62);
  color: aqua;
}


.filter-section{
  padding: 2em;
}

.search-container{
  display: flex;
  background-color: rgb(61, 61, 61);
  padding: 6px;
}

.search-container input{
  color: rgb(255, 255, 255);
}

.search-container input:focus{
  outline: none;
}

/* SUBSCRIPTION SECTION */

.subscribe-section{
  margin-top: 3em;
  background-image: url(https://images.unsplash.com/photo-1760276888172-f123e959d4f2?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzfHx8ZW58MHx8fHx8&auto=format&fit=crop&q=60&w=600);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(1, 34, 66);
  min-height: 50vh;
  padding: 1em;
}

/* .newletter-container form{
  background-color: rgba(255, 255, 255, 0.142);
  padding: 4em;
  backdrop-filter: blur(15px);
} */

.subscribe-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5em;
}

.newletter-container input{
  padding: 6px;
  border: 1px solid rgb(67, 67, 67);
}

.newletter-container input:focus{
  outline: none;
}

/* FOOTER */

footer{
  display: flex;
  justify-content: space-between;
  padding: 1em;
  min-height: 5vh;
  margin-top: 3em;
}

footer ul{
  display: flex;
  gap: 2em;
  list-style-type: none;
}

footer ul a{
  text-decoration: none;
  color: dodgerblue;
  transition: color 1s ease-in-out;
}

footer ul a:hover{
  color: gainsboro;
}

/* ================================================================================ */
/* SERVICES PAGE */
/* ================================================================================ */
.service-hero{
  padding-top: 4EM;
  max-height: 40vh;
}

.service-hero h1{
  font-size: 2em;
}

.services-container{
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.services-container div{
  padding: 1em;
  border: 1px solid rgb(80, 80, 80);
  border-radius: 10px;
}

.services-container div h2{
  font-size: 1.6em;
  color: dodgerblue;
}

@media(max-width:800px){
    nav ul{
      display: none;
      
    }

  footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer-copyright-container{
    text-align: start;
  }
}

@media(max-width:600px){
  
  footer ul{
    display: flex;
    gap: 1em;
    /* flex-direction: column; */
    list-style-type: none;
  }
}

@media(max-width:500px){
   footer ul{
    gap: 0.51em;
    flex-direction: column;
  }
    
   footer{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
  }
   .footer-copyright-container{
    text-align: center;
  }
}